/* About me section */
.section--light {
  background-color: var(--color-secondary);
}

.ab-me-section-content {
  display: grid;
  grid-template-columns: 1fr auto auto 1fr;
  height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 60px;
  box-sizing: border-box;
  position: relative;
  border: 1px solid blue;
}

/* First column */
.left-img-container {
  align-self: end;
  z-index: 1;
  grid-column: 1;
}

.about-me-img {
  /* height: 700px; */
  height: clamp(350px, 65vw, 700px);
  display: block;
}

/* Second column */
.txt-box-container {
  align-self: center;
  background-color: var(--color-tertiary);
  padding: 32px;
  border-radius: 4px;
  margin-top: 100px;
  grid-column: 2;
  z-index: 3;
  margin-left: -30px;
  margin-right: -60px;
  /* width: 500px; */
  width: clamp(320px, 35vw, 500px);
}

.txt-box-container p {
  color: var(--color-txt-primary);
  text-align: justify;
}

.btn-txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-txt button {
  border: 1px solid white;
  color: white;
  padding: 12px 24px;
  border-radius: 100px;
}

.btn-txt button:hover {
  background-color: var(--color-bg-hover);
}

.emoji-img {
  animation: bounceImg 1s ease-in-out infinite;
}

@keyframes bounceImg {
  0% {
    transform: translateY(4px);
  }

  50% {
    transform: translateY(-4px);
  }

  100% {
    transform: translateY(4px);
  }
}

.emoji-img:hover {
  animation-play-state: paused;
}

/* Third column */

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  grid-column: 3;
  position: relative;
}

h2 {
  color: var(--color-txt-secondary);
}

.ab-me-overlay {
  background-color: var(--color-primary);
  border: 1px solid black;
  border-radius: 4px;
  padding: 24px;
  /* width: 250px;
  height: 200px; */
  width: clamp(220px, 18vw, 280px);
  height: clamp(180px, 16vw, 240px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 24px; */
  gap: clamp(12px, 2vw, 24px);
  position: absolute;
  bottom: 0;
  right: 20px;
  z-index: 8;
  transform: translateX(clamp(-40px, -4vw, -20px)) translateY(290px);
  pointer-events: none;
  transition: transform 0.3s ease-out;
}

.ab-me-overlay.visible {
  transform: translateX(clamp(-40px, -4vw, -20px)) translateY(0);
  pointer-events: auto;
}

.ab-me-overlay span,
li {
  color: var(--color-txt-primary);
}

.ab-me-overlay span {
  font-size: 24px;
  font-weight: var(--fw-bold);
}

.ab-me-overlay ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}

.ab-me-overlay li {
  display: flex;
  align-items: center;
  gap: 16px;
}
.check-img {
  height: 16px;
  width: 16px;
}

/* Fourth column */

.right-container {
  align-self: center;
  grid-column: 4;
  z-index: 1;
}
