/* About me section */
.section--light {
  background-color: var(--color-secondary);
}

.ab-me-section-content {
  display: grid;
  grid-template-columns: 1fr 2fr 20px;
  height: 100vh;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 60px;
  box-sizing: border-box;
  position: relative;
  border: 1px solid blue;
}

/* First column */
.left-img-container {
  align-self: end;
  z-index: 1;
  grid-column: 1;
}

.about-me-img {
  height: clamp(350px, 65vw, 700px);
  display: block;
}

/* Second column */
.middle-container {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}

h2 {
  color: var(--color-txt-secondary);
  align-self: flex-end;
}

.txt-box-container {
  align-self: center;
  background-color: var(--color-tertiary);
  padding: 32px;
  border-radius: 4px;
  grid-column: 2;
  z-index: 3;
  width: clamp(320px, 40vw, 500px);
  margin-left: clamp(-300px, -20vw, -150px);
  margin-top: clamp(40px, 7vh, 120px);
  position: relative;
}

.txt-box-container p {
  color: var(--color-txt-primary);
  text-align: justify;
}

.btn-txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-txt button {
  border: 1px solid white;
  color: white;
  padding: 12px 24px;
  border-radius: 100px;
}

.btn-txt button:hover {
  background-color: var(--color-bg-hover);
}

.emoji-img {
  animation: bounceImg 1s ease-in-out infinite;
}

@keyframes bounceImg {
  0% {
    transform: translateY(4px);
  }

  50% {
    transform: translateY(-4px);
  }

  100% {
    transform: translateY(4px);
  }
}

.emoji-img:hover {
  animation-play-state: paused;
}

.ab-me-overlay {
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 4px;
  padding: 24px;
  width: 220px;
  height: 230px;
  gap: 8px;
  position: absolute;
  top: 290px;
  right: -100px;
  z-index: 8;
  transform: translateX(clamp(-40px, -4vw, -20px)) translateY(290px);
  pointer-events: none;
  transition: transform 0.3s ease-out;
}

.ab-me-overlay.visible {
  transform: translateX(clamp(-40px, -4vw, -20px)) translateY(0);
  pointer-events: auto;
}

.ab-me-overlay span,
li {
  color: var(--color-txt-primary);
}

.ab-me-overlay span {
  font-size: 24px;
  font-weight: var(--fw-bold);
}

.ab-me-overlay ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}

.ab-me-overlay li {
  display: flex;
  align-items: center;
  gap: 16px;
}
.check-img {
  height: 16px;
  width: 16px;
}

/* Fourth column */

.right-container {
  align-self: center;
  grid-column: 4;
  z-index: 1;
  border: 1px solid red;
}

/* Media queries */

@media(max-width: 1100px) {
  .txt-box-container {
    margin-left: -60px;
  }

  .ab-me-overlay {
    right: -20px;
    top: 300px;
  }
}

@media(max-width: 950px){
  .txt-box-container {
    padding: 16px;
  }

  .ab-me-overlay {
    padding: 16px;
    top: 280px;
    width: 180px;
    right: 30px;
  }

  .about-me-img {
    height: clamp(350px, 75vw, 700px);
  }
}

@media(max-width: 850px){
  .txt-box-container {
    margin-top: 120px;
  }
}

@media (max-width: 1550px) and (max-height: 1000px) {
  .ab-me-overlay {
    right: 40px;
    top: 120px;
  }
}

@media (max-width: 1100px) and (max-height: 850px) {
  .ab-me-overlay {
    right: 40px;
    top: 120px;
  }
}

@media (max-width: 1100px) and (max-height: 720px) {
  .about-me-img {
    height: 600px;
  }
}
