.contact-footer-content {
  display: grid;
  grid-template-columns: 1fr 20px;
  height: 100vh;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 60px;
  box-sizing: border-box;
  border: 1px solid blue;
}

.contact-footer-content h2 {
  color: var(--color-txt-quaternary);
  line-height: 1.2;
  margin-top: 150px;
}

.subheader-txt h3 {
  color: var(--color-txt-quinary);
}

.left-container-contact {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.upper-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  gap: 16px;
}

.header-subheader {
  align-self: flex-start;
  width: 50%;
}

.go-up-arrow {
  height: 30px;
  width: 15px;
  display: inline-block;
  animation: bounceUp 1.5s ease-in-out infinite;
  transform-origin: center bottom;
  cursor: pointer;
}

.go-up-arrow path {
  fill: #F8F7E5;
}

.go-up-link {
  position: absolute;
  right: -40px;
  top: -100px;
  width: 30px;
  text-align: center;
  height: 60px;
  cursor: pointer;
}

.go-up-link:hover {
  border-bottom: 1px solid var(--color-bg-hover);
}

.go-up-link:hover .go-up-arrow path {
  fill: var(--color-bg-hover);
}

/* Form styling */
.contact-form {
  border: 1px solid red;
  align-self: flex-end;
  width: 50%;
  color: var(--color-txt-primary);
  height: 400px;
  margin-bottom: 100px;
  position: relative;
}

label {
  font-size: clamp(16px, 2vw, 24px);
  font-weight: var(--fw-bold);
  padding-left: 8px;
}

.mail-container:hover label,
.name-container:hover label,
.textarea-container:hover label {
  color: var(--color-txt-quinary);
}

input {
  padding: 16px 8px;
  border: none;
  background-color: transparent;
  color: var(--color-txt-primary);
  font-size: 16px;
  border-bottom: 1px solid var(--color-bg-card);
  cursor: pointer;
  font-family: "Quicksand";
}

input::placeholder {
  color: var(--color-txt-primary);
  font-family: "Quicksand";
}

input.error::placeholder {
  color: #c56969;
  opacity: 1;
}

input.error {
  border-bottom: 1px solid #c56969;
  opacity: 1;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.upper-form {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  padding-bottom: 16px;
}

.name-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.mail-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.textarea-container {
  display: flex;
  flex-direction: column;
}

textarea {
  resize: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid var(--color-bg-card);
  padding: 16px 8px;
  color: var(--color-txt-primary);
  font-family: "Quicksand";
  font-size: 16px;
  cursor: pointer;
  margin-top: 8px;
}

textarea::placeholder {
  color: var(--color-txt-primary);
  font-family: "Quicksand";
  font-size: 16px;
}

textarea::-webkit-scrollbar {
  width: 4px;
}

textarea::-webkit-scrollbar-track {
  background: transparent;
}

textarea::-webkit-scrollbar-thumb {
  background: var(--color-txt-quaternary);
  border-radius: 10px;
}

.privacy-policy {
  display: flex;
  align-items: center;
  justify-content: center;
}

.privacy-policy a {
  cursor: pointer;
  color: var(--color-txt-quinary);
}

.privacy-policy a:hover {
  color: var(--color-txt-primary);
  font-weight: var(--fw-bold);
}

.checkbox {
  background-image: url("../assets/img/checkbox_empty.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 15px;
  width: 15px;
  padding-right: 16px;
}

.checkbox:hover {
  transform: scale(1.1);
  background-image: url("../assets/img/checkbox_checked.svg");
}

.submit-message-btn {
  width: 150px;
  border: 1px solid var(--color-txt-primary);
  border-radius: 100px;
  padding: 8px 16px;
  color: var(--color-txt-primary);
  font-size: 18px;
  align-self: center;
}

.submit-message-btn:hover {
  background-color: var(--color-bg-hover);
}

/* Footer and images */

.lower-container {
  display: flex;
  justify-content: space-between;
}

.images-wrapper {
  position: relative;
  width: clamp(180px, 30vw, 350px);
}

.orange-wheel-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: clamp(120px, 16vw, 180px);
  height: clamp(120px, 16vw, 180px);
  animation: rotateWheel 8s linear infinite;
}

.blue-wheel-footer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: clamp(160px, 20vw, 250px);
  height: clamp(160px, 20vw, 250px);
  z-index: 2;
  animation: rotateOtherWay 8s linear infinite;
}

footer span,
a {
  color: var(--color-txt-primary);
  font-weight: var(--fw-normal);
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;
  width: clamp(280px, 50vw, 600px);
}

.socials-contaier {
  display: flex;
  align-items: center;
  /* gap: 32px; */
  gap: clamp(16px, 2vw, 32px);
}

.socials-contaier a {
  cursor: pointer;
}

.socials-contaier a:hover {
  color: var(--color-txt-quinary);
}

@keyframes rotateOtherWay {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes bounceUp {
  0% {
    transform: translateY(95%) scaleY(1);
  }
  50% {
    transform: translateY(-40%) scaleY(1.5);
  }
  100% {
    transform: translateY(95%) scaleY(1);
  }
}

@media (max-width: 950px) {
  .header-subheader {
    width: 40%;
  }

  .contact-form {
    width: 60%;
  }
}
