/* Hero section styling*/
.section--blue {
  background-color: var(--color-primary);
}

.section-content {
  display: grid;
  grid-template-columns: 1fr auto 80px;
  height: 100vh;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 60px;
}

.hero-container-left {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: clamp(40px, 6vw, 80px);
  padding-top: clamp(40px, 10vw, 120px);
}

.txt-hero {
  line-height: clamp(60px, 49px + 3.6vw, 100px);
  display: flex;
  flex-direction: column;
}

.hero-container-left span {
  font-family: var(--font-primary);
  font-size: clamp(32px, 27px + 1.4vw, 48px);
  color: var(--color-txt-primary);
}

h1 {
  font-family: var(--font-secondary);
  font-size: var(--fs-h1);
  color: var(--color-txt-primary);
  margin-block-start: 0;
  margin-block-end: 0;
}

.get-in-touch {
  width: 150px;
  border: 1px solid var(--color-txt-primary);
  border-radius: 100px;
  padding: 8px 16px;
  color: var(--color-txt-primary);
  font-size: 18px;
}

.get-in-touch:hover {
  background-color: var(--color-bg-hover);
}

.scroll-down-img {
  position: relative;
  height: 144px;
  width: 144px;
}

.scroll-down-wheel {
  animation: rotateWheel 8s linear infinite;
}

.arrow-down {
  position: absolute;
  top: 39%;
  left: 41%;
  height: 32px;
}

.hero-container-center {
  align-self: end;
  position: relative;
}

.orange-wheel-hero {
  position: absolute;
  right: 30px;
  top: 80px;
  height: clamp(100px, 20vw, 300px);
  width: clamp(100px, 20vw, 300px);
}

.author-img {
  height: clamp(350px, 75vw, 800px);
  position: relative;
  display: block;
}

.side-dots {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.hero-container-right {
  align-self: center;
}

