/* Header styling */
header {
  border: 1px solid red;
  width: 100%;
  max-width: 1440px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 40px;
}

.social-media {
  display: flex;
  align-items: center;
  gap: 8px;
}

.soc-media-icons {
  width: 32px;
  height: 32px;
}

.soc-media-icons .fill-shape {
  fill: transparent;
  transition: fill 0.3s ease;
}

.soc-media-icons .outline {
  stroke: var(--color-secondary);
  fill: var(--color-secondary);
  stroke-width: 0.2;
}

a:hover .soc-media-icons .fill-shape {
  fill: var(--color-bg-hover);
}

/* added now */
.menu-btn:hover .fill-shape {
  fill: var(--color-bg-hover);
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo-img {
  width: 29px;
  height: 40px;
}

.logo-txt-white {
  color: var(--color-txt-primary);
  font-size: 32px;
  font-family: var(--font-primary);
  font-weight: var(--fw-bold);
}

.lang-nav {
  display: flex;
  align-items: center;
  gap: 8px;
}


.language-btn {
  color: var(--color-txt-primary);
  font-size: 14px;
  border: 1px solid var(--color-txt-primary);
  border-radius: 50%;
  padding: 4px;
}

.language-btn:hover {
  background-color: var(--color-bg-hover);
}