/* Header styling for HERO section */
header {
  border: 1px solid red;
  width: 100%;
  max-width: 1440px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

 nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 40px;
  position: relative;
}

.social-media {
  display: flex;
  align-items: center;
  gap: 8px;
}

.soc-media-icons {
  width: 32px;
  height: 32px;
}

.soc-media-icons .fill-shape {
  fill: transparent;
  transition: fill 0.3s ease;
}

.soc-media-icons .outline {
  stroke: var(--color-secondary);
  fill: var(--color-secondary);
  stroke-width: 0.2;
}

a:hover .soc-media-icons .fill-shape {
  fill: var(--color-bg-hover);
}

.menu-btn:hover .fill-shape {
  fill: var(--color-bg-hover);
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo-img {
  width: 29px;
  height: 40px;
}

.logo-txt-white {
  color: var(--color-txt-primary);
  font-size: 32px;
  font-family: var(--font-primary);
  font-weight: var(--fw-bold);
}

.lang-nav {
  display: flex;
  align-items: center;
  gap: 8px;
}


.language-btn {
  color: var(--color-txt-primary);
  font-size: 14px;
  border: 1px solid var(--color-txt-primary);
  border-radius: 50%;
  padding: 4px;
}

.language-btn:hover {
  background-color: var(--color-bg-hover);
}

/* Compact header, dark and blue sections*/

.header--compact--dark .social-media {
  display: none;
}

/* Compact header, light sections */

.header--compact--light .social-media {
  display: none;
}

.header--compact--light .language-btn {
  color: var(--color-txt-secondary);
  border: 1px solid var(--color-txt-secondary);
}

.header--compact--light .language-btn:hover {
  color: var(--color-txt-primary);
}

.header--compact--light .logo-txt-white {
  color: var(--color-txt-secondary);
}

.header--compact--light .soc-media-icons .outline {
  stroke: var(--color-tertiary);
  fill: var(--color-tertiary);
  stroke-width: 0.2;
}

/* Mobile-navbar styling */

.mobile-nav {
  border: 1px solid var(--color-txt-secondary);
  background-color: var( --color-secondary);
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 8px;
  border-radius: 4px;
  position: absolute;
  right: 16px;
  top: 8px;
  transform: translateX(150%);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.mobile-nav.visible {
  transform: translateX(0);
  opacity: 1;
}


.mobile-nav p {
  color: var( --color-txt-tertiary);
  font-size: 24px;
  font-weight: var(--fw-bold);
}

.menu-options a {
  color: var( --color-txt-secondary);
}

.menu-btn-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  width: 90%;
}

.menu-options {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.menu-options li {
 display: flex;
 gap: 16px;
 padding-bottom: 8px;
}

.menu-options a {
  font-size: 18px;
  font-weight: var(--fw-bold);
  cursor: pointer;
}

.menu-options li:hover a {
  color: var(--color-txt-tertiary);
  transform: scale(1.1);
}

.hover-img-menu {
  display: none;
  background-image: url("../assets/img/orange_wheel.png");
  height: 24px;
  width: 24px;
  background-size: cover;
}

.menu-options li:hover .hover-img-menu {
  display: block;
}

.soc-media-icons-mobile-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding-top: 8px;
  display: none;
}

.soc-media-icons-mobile {
  cursor: pointer;
}


.soc-media-icons-mobile .outline {
  fill: var(--color-tertiary);
  stroke: var(--color-tertiary);
}

.soc-media-icons-mobile:hover .fill-shape {
  fill: var(--color-bg-hover);
}

@media(max-width:850px){
  .soc-media-icons-mobile-container {
    display: flex;
  }

  .social-media {
    display: none;
  }
}

@media(max-width: 350px) {
  .logo-img {
    width: 24px;
    height: 30px;
  }

  .logo-txt-white {
    font-size: 28px;
  }
}
