/* Skills section */
.section--dark {
  background-color: var(--color-tertiary);
}

.skills-section-content {
  display: grid;
  grid-template-columns: 1fr 20px;
  height: 100vh;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 60px;
  box-sizing: border-box;
  border: 1px solid blue;
}

.skills-section-content h2 {
  color: var(--color-txt-primary);
}

.section-content-column {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: 100vh;
  box-sizing: border-box;
  padding: 0 60px;
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
}

.skills-container-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 0;
}

.blue-box {
  background-color: var(--color-primary);
  width: 600px;
  border-radius: 4px;
  padding: 32px;
}

.blue-box p {
  color: var(--color-txt-primary);
  text-align: justify;
  line-height: 1.5;
}

.wheel-wrapper {
  position: relative;
  width: 120px;
  height: 120px;
}

.orange-wheel {
  width: 100%;
  height: 100%;
  animation: rotateWheel 8s linear infinite;
}

.wheel-wrapper:hover .orange-wheel {
  animation-play-state: paused;
}

.hat {
  width: 36px;
  height: 38px;
  position: absolute;
  top: 35%;
  right: 35%;
}

.overlay-skills {
  background-color: var(--color-bg-hover);
  width: 250px;
  height: 200px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid white;
  position: absolute;
  top: 0;
  left: 250px;
  transform: translateX(clamp(-40px, -4vw, -20px)) translateY(320px);
  pointer-events: none;
  transition: transform 0.3s ease-out;
}

.overlay-skills.visible {
  transform: translateX(clamp(-40px, -4vw, -20px)) translateY(0);
  pointer-events: auto;
}

.overlay-skills p {
  color: var(--color-txt-primary);
  text-align: justify;
}

.overlay-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
}

.overlay-close-btn:hover {
  transform: scale(1.1);
}

.ovelay-skill-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.overlay-skill-icons {
  height: 40px;
  width: 40px;
}

.bottom-container-overlay-skills {
  display: flex;
  align-self: flex-end;
  justify-content: space-between;
  padding: 40px 0;
  width: 100%;
  gap: 8px;
}

.skills-icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  justify-items: center;
}

.skill-icon-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.skill-icon-txt span {
  color: var(--color-txt-primary);
}

.icon-skill:hover {
  transform: scale(1.1);
  transition: 125ms ease-in-out;
}

.skills-container-right {
  align-self: center;
  align-items: center;
  grid-column: 4;
}
